<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <title>Телеграмм</title>
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-activity" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z"/>
          </svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-white">Главная</a></li>
            <li><a href="/templates/napravl" class="nav-link px-2 text-white">Виды направлений</a></li>
            <li><a href="/templates/teleph" class="nav-link px-2 text-white">Контактные данные</a></li>
            <li><a href="/templates/telegbot" class="nav-link px-2 text-white">Телеграмм бот</a></li>
        </ul>
        <div class="text-end">
            <a class="btn btn-outline-light me-2" href="/templates/posts">Все заявки</a>
            <a class="btn btn-warning" href="/templates/create-article">Создать</a>
        </div>
      </div>
    </div>
  </header>
<div class="container px-4 py-5" id="hanging-icons1">
    <h2 class="pb-2 border-bottom"><ya-tr-span data-index="32-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Hanging icons" data-translation="Направления" data-ch="0" data-type="trSpan" data-selected="false"><center>Телеграм бот.</center></ya-tr-span></h2>
    <div class="row g-4 py-5 row-cols-1 ">
      <div class="col d-flex align-items-start">
        <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        </div>
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-send-check-fill" viewBox="0 0 16 16">
                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 1.59 2.498C8 14 8 13 8 12.5a4.5 4.5 0 0 1 5.026-4.47L15.964.686Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"/>
                <h2><ya-tr-span data-index="30-0" data-translated="true" data-source-lang="en" data-target-lang="ru" data-value="Featured title" data-translation="Рекомендуемое название" data-ch="0" data-type="trSpan"><p align="justify"><a href="https://t.me/@summersession23_bot"><br><br>https://t.me/@summersession23_bot</a></ya-tr-span></p></h2>
            </svg>
            </div>
      </div>
  </div>
</div>
</body>
</html>
{% endblock %}
